[submodule ".emacs.d/nord-theme"]
	path = .emacs.d/nord-theme
	url = https://github.com/nordtheme/emacs.git
[submodule ".emacs.d/golden-ratio"]
	path = .emacs.d/golden-ratio
	url = https://github.com/roman/golden-ratio.el.git
